cosmic-atlas/n8n_workflow.json
{
  "name": "CosmicAtlas – Space AI Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "space-ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are CosmicAtlas AI — an expert astrophysics assistant with deep knowledge of the universe. You help users explore outer space, including planets, galaxies, nebulae, black holes, supernovae, cosmology, space missions, astrophysics principles, and cutting-edge space science. Provide detailed, engaging, scientifically accurate answers. Use poetic language when appropriate to convey the wonder of the cosmos. Format responses with emojis and clear structure for readability."
            },
            {
              "role": "user",
              "content": "={{ $json.body.message }}"
            }
          ]
        },
        "options": {
          "maxTokens": 600,
          "temperature": 0.7
        }
      },
      "id": "ai-agent-1",
      "name": "Space AI Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"{{ $json.content }}\",\n  \"status\": \"success\"\n}"
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Space AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "Space AI Agent": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
